/Movie/.vs
/Movie/Movie.API/bin
/Movie/Movie.API/obj
/Movie/Movie.Core/obj
/Movie/Movie.Infrastructure/bin
/Movie/Movie.Infrastructure/obj
/Movie/Movie.Tests/obj
/Movie/Movie.Tests/bin
/Movie/Movie.Core/bin
/Movie/Movie.Core/bin
